<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- 声明应用需要的硬件特性 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <!-- 声明支持的屏幕尺寸 -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="33">

        <activity
            android:name="com.example.myapplication.appcoveer"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.myapplication.ReportActivity" />
        <activity
            android:name="com.example.myapplication.Initial_activity"
            android:exported="false"/>
        <activity android:name="com.example.myapplication.ReportDetailActivity" />
        <activity
            android:name="com.example.myapplication.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.RealtimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.myapplication.NonRealtimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.myapplication.WodeActivity" />
        <activity
            android:name="com.example.myapplication.RecordActivity" />
        <activity
            android:name="com.example.myapplication.BoxingActionsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.activity_action_detail" />
        <activity
            android:name="com.example.myapplication.activity_realtime" />
        <activity
            android:name="com.example.myapplication.LoginActivity" />
        <activity
            android:name="com.example.myapplication.RegisterActivity"
            android:exported="false"/>



        <!-- FileProvider for sharing PDF -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>